html {
  min-width: 100vw;
  min-height: 100vh;
}

.App {
  text-align: center;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  min-height: 100vh;
  min-width: 100vw;
}

/* AppBar */

.top-toolbar {
  flex: 1 1 50%;
}

.right-icons {
  flex: 1 1 25%;
  justify-self: flex-start;
  text-align: right;
}

.left-icons {
  flex: 1 1 25%;
  text-align: left;
}

.snackbar-error {
  background-color: red;
}

.transparent-button {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    padding: 0;
}

.transparent-button:focus {
  border: none;
}

/* Forecast tggle */

#toggle-forecast-group {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

#toggle-forecast-group > button {
  min-width: 100px;
}

#toggle-forecast-group > button:disabled {
  background-color: lightgray;
  color: black;
}

/* Weather */

.weathertable {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* DAILY FORECAST */

.daily-font {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

.day-weather-row {
  display: grid;
  grid-template-columns: repeat(11, 1fr) 10px;
  grid-template-areas:
    "date date date night morning afternoon evening low high prec wind chevron";
  justify-content: stretch;
  align-items: center;
  justify-items: center;
  padding: 1.5em 0.5rem;
  text-align: center;
  border-bottom: 1px solid lightgray;
  overflow: auto;
}

.day-weather-row-date {
    grid-area: date;
    justify-self: start;
}

.day-weather-row-night-icon {
   grid-area: night;
}

.day-weather-row-morning-icon {
   grid-area: morning;
}

.day-weather-row-afternoon-icon {
   grid-area: afternoon;
}

.day-weather-row-evening-icon {
   grid-area: evening;
}

.day-weather-row-low {
   grid-area: low;
   color: RED;
}

.day-weather-row-high {
  grid-area: high;
  color: RED;
}

.day-weather-row-prec {
   grid-area: prec;
   color: blue;
}

.day-weather-row-wind {
   grid-area: wind;
}

.day-weather-row-chevron {
  grid-area: chevron;
}

.red-color {
  color: red;
}

.blue-color {
  color: blue;
}

/* HOURLY FORECAST CARD */

.hourlyForecastRow {
  display: grid;
  margin: 0.5rem 0;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
  'hour temp symbol wind precipitation';
  border-bottom: 1px solid lightgray;
  text-align: center;
}

.hourlyForecastRow > p {
  padding-left: 10px;
}

.hour-container {
  align-self: center;
  grid-area: hour;
  text-align: left;
  
}

.forecastrow-temp-container {
  align-self: center;
  grid-area: temp;
}

.forecastrow-symbol-container {
  align-self: center;
  grid-area: symbol;
}

.forecastrow-wind-container {
  align-self: center;
  grid-area: wind;
}

.forecastrow-precipitation-container {
  align-self: center;
  grid-area: precipitation;
}

.day-weather-row-header {
  padding-bottom: 0.25rem;
}

/* To get correct color on header, this must be declared here! */
.day-weather-header {
  font-size: 0.75rem;
  color: black;
}

/* Animation */

.rotate {
  animation: spin 2s infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); } 
}

@media screen and (max-width: 600px) {
  .daily-font {
    font-size: 0.75rem;
  }

  .day-weather-row {
    grid-template-columns: repeat(9, 1fr) 10px;
    grid-template-areas:
      "date night morning afternoon evening low high prec wind chevron";
  }

  .MuiTypography-body1 {
    font-size: 0.75rem !important;
  }
}

.search-form {
  max-width: 150px;
}

@media screen and (max-width: 500px) {
  .day-weather-row {
    grid-template-columns: 2fr 2fr 2fr 2fr repeat(4, 1fr) 10px;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    'date date date date date date date date date'
    'night morning afternoon evening low high prec wind chevron';
  }

  .day-weather-row-header {
    grid-template-columns: 2fr 2fr 2fr 2fr repeat(4, 1fr) 10px;
    grid-template-rows: 1fr;
    grid-template-areas:
    'night morning afternoon evening low high prec wind chevron';
  }

  .day-weather-row-date {
    align-self: start;
  }
}